.page-favorites {
  display: flex;
  height: 100%;
  width: 100%;
}

.top-bar {
  align-items: center;
  background: linear-gradient(152.68deg, #003be5 9.78%, #00d5e2 48.22%);
  color: white;
  display: flex;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  height: 250px;
  justify-content: center;
  line-height: 20px;
  padding-left: 250px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.favorites-musics {
  height: 100%;
  padding-left: 380px;
  padding-right: 100px;
  padding-top: 300px;
  position: absolute;
  width: 100%;
  z-index: 0;
}
